/*Table align*/
.tatl{vertical-align:top;}
.tatc{vertical-align:top;text-align:center;}
.tatr{vertical-align:top;text-align:right;}
.taml{}
.tamc{text-align:center;}
.tamr{text-align:right;}
.tabl{vertical-align:bottom;}
.tabc{vertical-align:bottom;text-align:center;}
.tabr{vertical-align:bottom;text-align:right;}

:focus {outline:none;}
::-moz-focus-inner {border:0;}
